@font-face {
    font-family: 'diodrumarabic-bold';
    src: url('../fonts/diodrumarabic-bold.woff') format('woff');
}
@font-face {
    font-family: 'diodrumarabic-light';
    src: url('../fonts/diodrumarabic-light.woff') format('woff');
}
@font-face {
    font-family: 'diodrumarabic-medium';
    src: url('../fonts/diodrumarabic-medium.woff') format('woff');
}
body {
    font-family: 'diodrumarabic-bold';
    font-family: 'diodrumarabic-light';
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar {
    font-family: 'diodrumarabic-medium';
    font-size: 22px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
